{% extends 'base.html.twig' %}

{% block title %} {{serie.nom}} | {{ parent () }} {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-12">
        <img src="{{ asset(serie.poster) }}" alt="{ serie.nom }}" class="img-fluid">
        </div>
    </div>

    <div class ="col-md-8 col-12">
        <h3>Titre :</h3>
        <p>{{ serie.nom }}</p>
        <h3>Genre :</h3>
        <p>{{ serie.genre }}</p>
        <h3>Synopsis :</h3>
        <p>{{ serie.synopsis }}</p>
    </div>

{% endblock %}
